<!--<kt-notice [svg]="'assets/media/svg/icons/Tools/Compass.svg'">
  For more info please check the components's official demos & documentation
  <a class="font-weight-bold" href="https://material.angular.io/components/card/overview" target="_blank">demos & documentation</a>
</kt-notice>-->

  <div class="row">
    <div class="col-xl-4">
      <div class="example-preview">
        <div>
          <mat-card class="example-card">
            <mat-card-header>
              <!--<div mat-card-avatar class="example-header-image"></div>-->
              <mat-card-title>Grupos</mat-card-title>
              <mat-card-subtitle>Administración de Grupos</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                 src="https://images.sharefaith.com/images/3/1443818953257_84/img_mouseover3.jpg"
                 alt="Grupos">
            <mat-card-content>
              <p>
                Administra tus grupos, manten organizadas tus emprezas a través de un agrupador de empresa.
                Esto es muy útil cuando tu negocio tiene mas de una empresa.
              </p>
            </mat-card-content>
            <mat-card-actions style="text-align:center">
              <button mat-button
                      routerLink="/configuration/work-enviroment/groups/admin">Administrar</button>
              <!--<button mat-button>SHARE</button>-->
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="example-preview">
        <div>
          <mat-card class="example-card">
            <mat-card-header>
              <!--<div mat-card-avatar class="example-header-image"></div>-->
              <mat-card-title>Empresas</mat-card-title>
              <mat-card-subtitle>Administración de Empresas</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                 src="https://www.greenbiz.com/sites/default/files/images/articles/featured/smartcity_0.jpg"
                 alt="Grupos">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions style="text-align:center">
              <button mat-button
                      >Administrar</button>
              <!--<button mat-button>SHARE</button>-->
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="example-preview">
        <div>
          <mat-card class="example-card">
            <mat-card-header>
              <!--<div mat-card-avatar class="example-header-image"></div>-->
              <mat-card-title>Tiendas</mat-card-title>
              <mat-card-subtitle>Administración de Tiendas</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                 src="https://ius360.com/wp-content/uploads/2017/06/multisucursal.png"
                 alt="Grupos">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions style="text-align:center">
              <button mat-button>Administrar</button>
              <!--<button mat-button>SHARE</button>-->
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

